<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Electronics, Cars, Fashion, Collectibles, Coupons and More | eBay</title>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Optional theme-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="AngularJS/register.js"></script>
  </head>
  <body ng-app="registerApp" ng-controller="registerController">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="col-md-4 col-lg-4">
      <ul>
        <!--<li ng-show="nameFlag">Hi! <a href="/signinPage" id="nav-span">Sign in</a> or <a href="/register" id="nav-span">register</a> </li>
        <li ng-hide="nameFlag">Hi! {{ user }} </li>-->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: black">Hi! {{ user }}
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/signinPage">Sign in</a></li>
            <li><a href="/registerPage">Register</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <li> | </li>
        <li><a href="/allProds" style="color: black"> Buy </a></li>
        <li> | </li>
        <li><a href="/product" style="color: black"> Sell </a></li>
      </ul>
    </div>

    <div class="col-md-3 col-lg-3">
      <ul>
        <li>Last Login: </li>
        <li>{{ lastLogin }}</li>
      </ul>
    </div>

    <div class="col-md-offset-2 col-md-3 col-lg-3">
      <ul>
        <li>
          <a href="/userHome" style="color: black">My eBay
            <span class="fa fa-user"></span></a>
        </li>
        <li class="fa fa-shopping-cart"><a href="/cartPage" style="color: black">Shopping Cart</a> </li>
      </ul>
    </div>


  </nav>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-1 col-md-1 col-lg-1">
            <h1 id="imgh"><a href="/"><img role="presentation" id="ebayimg" width=100 height=50 alt="eBay" src="https://upload.wikimedia.org/wikipedia/commons/4/48/EBay_logo.png" class="image-responsive"></a></h1>
                    <!--http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png-->
          </div>
          <div class="col-md-6 col-lg-6">
            <input type="text" id="searchinp"/>
          </div>
          <div class="col-md-4 col-lg-4" id="homebtn">
            <button type="submit" class="btn btn-primary" id="searchbtn">Search <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-offset-1 col-sm-8 col-md-8 col-lg-6">
            <div id="homeCarousel" class="carouselSlide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
                <li data-target="#homeCarousel" data-slide-to="2"></li>
                <li data-target="#homeCarousel" data-slide-to="3"></li>
                <li data-target="#homeCarousel" data-slide-to="4"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="/images/ebay2.png" alt="Ebay">
                  <div class="carousel-caption">
                    <h3>Ebay</h3>
                  </div>
                </div>

                <div class="item">
                  <img src="/images/ebay1.jpg" alt="Ebay">
                  <div class="carousel-caption">
                    <h3>Ebay</h3>
                  </div>
                </div>

                <div class="item">
                  <img src="/images/ebay3.png" alt="Ebay">
                  <div class="carousel-caption">
                    <h3>Ebay</h3>
                  </div>
                </div>

                <div class="item">
                  <img src="/images/ebay4.jpg" alt="Ebay">
                  <div class="carousel-caption">
                    <h3>Ebay</h3>
                  </div>
                </div>

                <div class="item">
                  <img src="/images/ebay5.jpg" alt="Ebay">
                  <div class="carousel-caption">
                    <h3>Ebay</h3>
                  </div>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <!--<img src="..." alt="...">-->
                <div class="caption">
                  <h3>Apple iphone7</h3>
                  <p class="description"><ul>
                    <li>32GB-CDMA/GSM Unlocked USA-version</li>
                    <li>Brand New</li>
                    <li>Available in all colors</li>
                  </ul></p>
                  <div class="clearfix">
                    <div class="prices pull-left">$774</div>
                    <a href="/signinPage" class="btn btn-success pull-right" role="button">Add to Cart</a>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <!--<img src="..." alt="...">-->
              <div class="caption">
                <h3>HP-Pavilion Laptop</h3>
                <p class="description"><ul>
                  <li>2.2 GHz Core 2 Duo</li>
                  <li>2 GB RAM</li>
                  <li>Available in all colors</li>
                </ul></p>
                <div class="clearfix">
                  <div class="prices pull-left">$600</div>
                  <a href="/signinPage" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Ford Mustang</h3>
                <p class="description"><ul>
                  <li>Brand New</li>
                  <li>Black/Red Colors available</li>
                  <li>Available on lease</li>
                </ul></p>
                <div class="clearfix">
                  <div class="prices pull-left">$500</div>
                  <a href="/signinPage" class="btn btn-success pull-right" role="button">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container" style="padding-top: 15px">
        <table align="center">
          <tr>
            <td>Copyright © 1995-2016 eBay Inc. All Rights Reserved. <a href="/" style="color: black">Home</a> </td>
          </tr>
        </table>
      </div>
    </nav>
  </body>
</html>
