<!DOCTYPE html>
<html>
<head>
    <title>Electronics, Cars, Fashion, Collectibles, Coupons and More | eBay</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

</head>
<body>
<br>

<div class="panel panel-primary" style="width: inherit;">
    <div class="panel-heading" style="height: 70px; font-size: 40px; font-family: 'Sans-serif';">Express Checkout</div>
    <div class="panel-body">

        <form class="form-horizontal" action="/payment" method = "post" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-holder-name">Card Holder Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="cardholdername" id="card-holder-name" placeholder="Card Holder's Name"><label  for="card-holder-name"><font color="#00008b"><%= cardnameerr %></font></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                    <input name = "test" type="text" value = "test" style="display: none" >
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="cardnumber" id="card-number" placeholder="Debit/Credit Card Number"><label  for="card-holder-name"><font color="#00008b"><%= cardnumerr %></font></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="expiry-month">Date of Expiry</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-xs-3">
                                <select class="form-control col-sm-2" name="expirymonth" id="expiry-month">
                                    <option>Month</option>
                                    <option value="01">Jan-01</option>
                                    <option value="02">Feb-02</option>
                                    <option value="03">Mar-03</option>
                                    <option value="04">Apr-04</option>
                                    <option value="05">May-05</option>
                                    <option value="06">June-06</option>
                                    <option value="07">July-07</option>
                                    <option value="08">Aug-08</option>
                                    <option value="09">Sep-09</option>
                                    <option value="10">Oct-10</option>
                                    <option value="11">Nov-11</option>
                                    <option value="12">Dec-12</option>
                                </select><label  for="card-holder-name"><font color="#00008b"><%= invaliddate %></font></label>
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control" name="expiryyear">
                                    <option value="13">2013</option>
                                    <option value="14">2014</option>
                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cvv">CVV Number</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code"><label  for="card-holder-name"><font color="#00008b"><%= invalidcvv %></font></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">Submit and Pay</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <table align="center">
            <tr>
                <td style="padding-top: 15px">Copyright © 1995-2016 eBay Inc. All Rights Reserved. <a href="#" style="color: black">Home</a> </td>
            </tr>
        </table>
    </div>
</nav>
</body>
</html>