<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Electronics, Cars, Fashion, Collectibles, Coupons and More | eBay</title>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/product.css' />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="AngularJS/cart.js"></script>
</head>

<body ng-app="cartApp" ng-controller="cartController">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="col-md-6">
        <ul>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: black">Hi! {{ user }}
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>

            <li> | </li>
            <li><a href="/allProds" style="color: black"> Buy </a></li>
            <li> | </li>
            <li><a href="/product" style="color: black"> Sell </a></li>

        </ul>
    </div>
    <div class="col-md-offset-3 col-md-3">
        <ul>
            <li>
                <a href="/userHome" style="color: black">My eBay
                    <span class="fa fa-user"></span></a>
            </li>
            <li class="fa fa-shopping-cart"><a href="/cartPage" style="color: black">Shopping Cart</a> </li>
        </ul>
    </div>
</nav>

<div class="panel-group">
    <div class="panel panel-primary" style="width: inherit;">
        <div class="panel-heading" style="height: 60px; font-size: 40px; font-family: 'Sans-serif';">Your Shopping Cart</div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-4 thumbnail" ng-repeat="prod in productArr"  style="padding: 1em 1em">
                    <form action="/updateCart" method="post">
                        <div class="caption">
                                <h2>{{prod.itemname}}</h2>
                                <h4>Sold By {{prod.sellername}}</h4>
                                <p class="description"><ul>
                                    <li>{{prod.itemdescription}}</li>
                                    <li>Price: ${{prod.itemprice}}</li>
                                </ul></p>
                                <input type="number" name="productId" style="display: none" value={{prod.productid}} readonly/>
                                <div class="clearfix">
                                    Quantity: <select name="selectedQuantity" ng-model="selectedValue" ng-options="n for n in [] | range:1:prod.selectedquantity"></select>
                                    <button class="btn btn-success pull-right" role="submit">Modify Cart</button>
                                </div>
                        </div>
                    </form>
                    <button type="submit" ng-click="removeProduct(prod.productid, prod.selectedquantity);" class="btn btn-danger pull-right">Remove from Cart</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" style="width: inherit;">
        <div class="panel-heading" style="height: 60px; font-size: 40px; font-family: 'Sans-serif';">Cart Total</div>
        <div class="panel-body">
            <h3>Total Cart Value: $ {{cartTotal}} </h3>
            <form action="/checkout" method="post">
                <button type="submit" class="btn btn-primary" style="width: 150px;">Checkout</button>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <table align="center">
            <tr>
                <td style="padding-top: 15px">Copyright © 1995-2016 eBay Inc. All Rights Reserved. <a href="#" style="color: black">Home</a> </td>
            </tr>
        </table>
    </div>
</nav>

</body>
</html>